html, body {
  margin: 0;
  padding: 0;
  background-color: #293f50;
}
body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Header */
header {
  background: url("../images/index_1.JPG") no-repeat center center;
  background-size: cover;
  height: 250px;
  color: #fff;
}

header h1 {
  display: inline-block;
  position: relative;
  float: left;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  text-align: right;
  margin-right: 25px;
  float: right;
}
nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0px 2px 0px 2px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  color: #293f50;
  background-color: #fff;
  font-weight: bold;
}

/* Main Index Section */

section {
  color: #fff;
  text-align: center;
}
section h1, h2, h3 {
  color: #648880;
}
table, th, td  {
  border: 2px solid #648880;
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
}

.map {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-left: 5px;
}

.map a {
  color: #fff;
  text-decoration: none;
}

.map a:visited {
  text-decoration: none;
  color: #fff;
}

.map a:hover {
  color: #648880;
  font-weight: bold;
}

.data {
  margin-left: 20px;
  margin-right: 5px;
}
.data em {
  color: #648880;
}
.data a {
  text-decoration: none;
}

.data a:visited {
  text-decoration: none;
  color: #fff;
}

.data a:hover {
  color: #648880;
  font-weight: bold;
}

#description {
  font-weight: bold;
}
#route {
  border-radius: 10px;
}

/* Footer */
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #648880;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #648880;
  padding: 5px;
  border-radius: 5px;
}
footer a:hover {
  color: #fff;
  background-color: #293f50;
  font-weight: bold;
}

/* Main Section Months */
.wrapper {
  width: 90%;
  margin: 0 auto;
  min-width: 1050px;
}

.highlight {
  color: #fff;
}

.highlight h2 {
  text-align: center;
  padding-top: 20px;
}

.intinerary {
  display: inline-block;
  float: left;
  width: 33%;
  vertical-align: top;
  text-align: left;
}

.intinerary li {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.intinerary strong {
  color: #648880;
}

.first-pic, .second-pic {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 33%;
  margin-top: -20px;
  text-align: center;
  font-size: 15px;
}

.second-pic {
  float: right;
}

a {
  text-decoration: none;
  color: #648880;
}

a:hover {
  color: #fff;
  font-weight: bold;
}

.first-pic h3 {
  color: #fff;
  font-size: 20px;
} 

.second-pic h3 {
  color: #fff;
  font-size: 20px;
}

.first-pic img {
  border-radius: 2%;
  height: 350px;
  width: 350px;
}

.second-pic img {
  border-radius: 2%;
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 1050px) {
  #description h2 {
    font-size: 18px;
  }

  #description p {
    font-size: 14px;
  }

  #breakdown h2 {
    font-size: 18px;
  }

  #breakdown-month {
  font-size: 12px;
  }

  #highlights {
    font-size: 12px
  }

 .map p {
    font-size: 14px;
  }
  .map h2 {
    font-size: 18px;
  }
  #route {
    height: 350px;
    width: 350px;
  }
  .wrapper { 
    width: 75%; 
  }

  .highlight h2 {
    font-size: 18px
  }

  .highlight h3 {
    font-size: 18px
  }

  .highlight p {
    font-size: 10px;
  }

  .hightlight a {
    font-size: 10px;
  }

  .intinerary h2 {
    font-size: 18px
  }

  .first-pic img {
    height: 200px;
    width: 200px;
  }

  .second-pic img {
    height: 200px;
    width: 200px;
  }

  .intinerary li {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}


